
---
import { storedData } from '../store.js';

---



<div id="container">

	<main>
		<section class="h-screen bg-accent grid place-content-center">
			<div id="dataDiv" class="mb-8">
				initial value
			</div>

			<button id='getDataBtn' class="cursor-pointer rounded-xl border border-2 border-primary px-4 py-2
			transition-transform duration-300 hover:scale-125">
				 test
			</button>

		</section>
	</main>
	<script>


	const button = document.getElementById('getDataBtn')
	button.addEventListener('click', async () => {
		 const res = await fetch('/api/get');
		 const data = await res.json();
		 document.getElementById('dataDiv').textContent =  data[0].user



})




	</script>

</div>
